
.vulnerability-summary {
    padding-top: 50px;
}

.vulnerability-summary-title {
    padding-bottom: 20px;
}

.vulnerability-summary-subtitle {
    margin-bottom: 15px;
}

.vulnerability-legend {
    margin: 10px;
}

.vulnerability-legend .icon {
    margin-right: 10px;
}
