html, body, #root,  .App {
  height: 100%;
}

.pf-c-content {
  --pf-c-content--small--Color: red; /* changes all <small> color to red */
  --pf-c-content--blockquote--BorderLeftColor: purple; /* changes all <blockquote> left border color to purple */
  --pf-c-content--hr--BackgroundColor: lemonchiffon; /* changes a <hr> color to lemonchiffon */
}

.header-logo {
  height: 2em !important;
}

.page-sidebar {
  background-color: black;
  color: black;
}

.pf-c-toolbar__content-section {
    row-gap: 16px !important;
}

.pf-c-page__sidebar-body {
    padding-top: 0;
}

.disabled-link {
    pointer-events: none;
    color: black;
}

.no-padding {
    padding: 0 !important;
}

.no-padding-top {
    padding-top: 0 !important;
}