name: Quay UI Integration Tests

on:
  pull_request:
    branches:
    - "*"

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cypress run
        uses: cypress-io/github-action@v4.2.0
        with:
          browser: chrome
          build: npm run build
          start: npm run start:integration
          wait-on: 'http://localhost:9000'
          wait-on-timeout: 120
        env:
          MOCK_API: true
      # Used for debugging. Uncomment to upload screenshots  
      # and videos of running tests to diagnose issues.
      # - uses: actions/upload-artifact@v2
      #   if: failure()
      #   with:
      #     name: cypress-screenshots
      #     path: cypress/screenshots
      # - uses: actions/upload-artifact@v2
      #   if: always()
      #   with:
      #     name: cypress-videos
      #     path: cypress/videos
